/* Google Fonts Section Start */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* //Google Fonts Section End */

/* Common CSS Start */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
ol, ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* //Common CSS End */

/* Banner Section CSS Start */
#banner .banner_content{
    height: 645px;
    background-color: #7531A0;
    border-radius: 30px;
    background-image: linear-gradient(to right, rgba(18, 18, 18, 0.9) 0%, rgba(18, 18, 18, 0) 100%);
    margin-top: 15px;
}
#banner .row{
    align-items: center;
}
#banner .banner_desc, .banner_img{
    width: 50%;
}
#banner .banner_desc{
    padding-left: 105px;
}
#banner .banner_desc h1{
    font-size: 70px;
    line-height: 80px;
    color: #fff;
}
#banner .banner_desc p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #fff;
    margin: 20px 0 30px;
}
#banner .banner_desc a{
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    /* border: 1px solid #fff; */
    background-color: #75AEE0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s linear;
}
#banner .banner_desc a:hover{
    background-color: #FFBD00;
    color: rgba(0, 0, 0, 0.8);
}
#banner .banner_desc a i{
    margin-left: 10px;
}
#banner .banner_img{
    display: flex;
    justify-content: center;
}
/* //Banner Section CSS End */

/* Upcomimg Info Section CSS Start */
#upcomingInfo{
    margin-top: 100px;
}
#upcomingInfo .upcomingInfo_wrapper{
    display: grid;
    grid-template-columns: 312px 1fr;
    grid-column-gap: 24px;
}
#upcomingInfo nav{
    background: #7531A0;
    background-image: linear-gradient(to right, rgba(18, 18, 18, 0.9) 0%, rgba(18, 18, 18, 0) 100%);
    border-radius: 10px;
    max-height: 312px;
}
#upcomingInfo nav.pageNavigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#upcomingInfo nav.pageNavigation a{
    display: inline-block;
    background: #fff;
    width: 252px;
    padding: 10px 0;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #161616;
}
#upcomingInfo nav.pageNavigation .blog a{
    background-color: #75AEE0;
    color: #fff;
}
#upcomingInfo .blogs_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}
#upcomingInfo .blogs_wrapper .blog{
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
#upcomingInfo .blogs_wrapper .blog img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 177px;
}
#upcomingInfo .blogs_wrapper .blog .blog_desc{
    padding: 20px;
}
#upcomingInfo .blogs_wrapper .blog button{
    color: #161616;
    background: #fff;
    border: 1px solid #161616;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
} 
#upcomingInfo .blogs_wrapper .blog h3{
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #161616;
    margin: 15px 0;
} 
#upcomingInfo .blogs_wrapper .blog .timeCommet{
    color: rgba(22, 22, 22, 0.7);
} 
#upcomingInfo .blogs_wrapper .blog .timeCommet i{

} 
#upcomingInfo .blogs_wrapper .blog .timeCommet span{
    display: inline-block;
    margin: 0 12px 0 6px;
} 
/* //Upcomimg Info Section CSS End */